body {
	font-family: "Times New Roman", Times, serif;
}
.title {
	font-size: 20px;
}
.text {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 1px;
	text-decoration: underline wavy aqua;
}
a {
	text-decoration: none;
}
