* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0;
}
.form {
	display: inline-block;
	border: 2px solid #000;
	border-radius: 10px;
	margin: 40px;
}
.block {
	margin: 0 50px 0 0;
	padding: 0;
	border: 0;
}
.nameform {
	margin: 15px;
	margin-left: 25px;
}
.label {
	display: block;
	margin: 0 10px 10px 25px;
}
.legend {
	padding: 0;
	font-size: 20px;
}
.input {
	padding: 5px;
	padding-left: 25px;
	border-radius: 5px;
	font-size: 18px;
	border: 2px solid #000;
	margin-top: 5px;
	min-width: 300px;
}
#textarea {
	min-height: 50px;
	resize: vertical;
	max-height: 200px;
}
.checkbox {
	border-radius: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.text-checkbox {
	font-size: 16px;
}
.button {
	padding: 0;
	margin: 0 0 10px 25px;
	cursor: pointer;
	border: 0;
	min-width: 100px;
	min-height: 25px;
	border-radius: 5px;
}
