#title-h1 {
	color: brown;
}
.title {
	color: chartreuse;
}
.title-h3 {
	color: slateblue;
}
h2.title-h1 {
	color: crimson;
}
.title .span {
	color: violet;
}
[href] {
	color: chocolate;
}
