.air-mag {
	position: relative;
}
@media (width > 576px) {
	.air-mag {
		padding-bottom: var(--pb-94);
	}
}

@media (width <= 576px) {
	.air-mag {
		padding-bottom: var(--pb-80);
	}
}
@media (width>768px) {
	.air-mag__title {
		margin-bottom: 10px;
	}
}
@media (width<=768px) {
	.air-mag__title {
		margin-bottom: 7px;
	}
}
.air-mag__description {
	display: flex;
}
.air-mag__description::before {
	content: "";
	display: block;
	flex-shrink: 0;
	width: 131px;
	height: 40px;
	background-image: url("../../icons/air-mag/gold-stripe.svg");
	transform: translateX(-13px);
}
@media (width>992px) {
	.air-mag__description {
		margin-bottom: 20px;
		gap: 27px;
	}
}
@media (width<=992px) {
	.air-mag__description {
		margin-bottom: 15px;
		gap: 10px;
	}
}
@media (width<=768px) {
	.air-mag__description {
		flex-direction: column;
		gap: 7px;
	}
}
.air-mag__info-wrapper {
	display: flex;
	align-items: center;
	gap: 40px;
}
@media (width<992px) {
	.air-mag__info-wrapper {
		flex-direction: column;
	}
}
.air-mag__img {
	width: 100%;
}
.air-mag__info-list {
	display: flex;
	flex-direction: column;
}
@media (width>992px) {
	.air-mag__info-list {
		flex-shrink: 0;
		gap: 40px;
		max-width: 293px;
		transform: translateY(-60px);
	}
}
@media (width<=992px) {
	.air-mag__info-list {
		gap: 20px;
		max-width: 700px;
	}
}
.air-mag__info-list-item::before {
	content: "";
	display: block;
	flex-shrink: 0;
	width: 45px;
	height: 33px;
	background-image: url("../../icons/air-mag/two-ticks.svg");
	margin-bottom: 5px;
}
