html {
	font-family: "Ubuntu", sans-serif;
}

body * {
	box-sizing: border-box;
}
.container {
	max-width: 1250px;
	padding: 15px;
	margin: 0 auto;
	border-bottom: 1px solid #d3cbd9;
	background-color: #444;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 28px;
}

.logo {
	width: 50px;
	height: 50px;
	background-color: black;
}
.link {
	padding: 0;
	margin: 10px;
	list-style: none;
	display: inline-block;
}
.link a {
	color: white;
}
.link-number {
	color: white;
	font-size: large;
	text-decoration: none;
}
.qwerty {
	max-width: 1250px;
	padding: 100px;
	margin: 0 auto;
	background-color: #444;
}
