* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #333;
}
.card {
	display: inline-block;
	color: #fff;
	font-family: sans-serif;
	max-width: 350px;
	border: 2px solid #fff;
	border-radius: 20px;
	margin: 40px;
}
.img {
	min-height: 200px;
}
.text {
	padding: 10px;
}
.cena {
	display: flex;
	padding-left: 16px;
}
.buy {
	border: 2px solid #fff;
	border-radius: 20px;
	margin-left: auto;
	min-width: 150px;
	text-align: center;
}
.link {
	text-decoration: none;
	color: #fff;
}
