@media (width>1100px) {
	.burger {
		display: none;
	}
}
@media (width<=1100px) {
	.burger {
		color: #fff;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: var(--layer-3);
		transition:
			color var(--transition-time-fast) ease,
			transform var(--transition-time-fast) ease;
	}
}
.burger__icon-menu,
.burger--open .burger__icon-cross {
	display: block;
}
.burger__icon-cross,
.burger--open .burger__icon-menu {
	display: none;
}

@media (any-hover: hover) {
	.header__burger:hover {
		color: var(--accent-color);
		transform: scale(var(--transform-scale));
	}
}
.header__burger:active {
	color: var(--accent-color);
	transform: scale(var(--transform-scale));
}

.header__burger:focus-visible {
	color: var(--accent-color);
	transform: scale(var(--transform-scale));
}
