.view-full-timetable__container {
	overflow: hidden;
	background-color: var(--accent-color);
}

.view-full-timetable__link {
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center;
	gap: 27px;
	transition: transform var(--transition-time-slow);
}

@media (width>576px) {
	.view-full-timetable__link {
		padding-block: 30px;
	}
}

@media (width<=576px) {
	.view-full-timetable__link {
		padding-block: 20px;
	}
}

@media (any-hover: hover) {
	.view-full-timetable__container:hover {
		.view-full-timetable__link {
			transform: scale(var(--transform-scale-small));
		}
	}
}

.view-full-timetable__container:focus-visible {
	.view-full-timetable__link {
		transform: scale(var(--transform-scale-small));
	}
}

.view-full-timetable__title {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 144%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--bg-color);
}
