table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: "Times New Roman";
	font-family: sans-serif;
}
caption,
th,
td {
	border: 1px solid black;
	padding: 2px 4px;
}
caption {
	border-bottom: none;
	font-weight: 600;
}
.red {
	color: red;
}
