.top-models__title-accent {
	color: var(--accent-color);
}
.top-models__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
	grid-template-rows: auto 1fr auto;
	gap: 20px;
}
.top-models__list-item {
	display: flex;
	justify-content: space-between;
	border: 2px solid var(--accent-color);
	border-radius: 12px;
	box-shadow:
		var(--shadow-accent-glow-big),
		inset var(--shadow-accent-glow-big);
	min-height: 204px;
}
@media (any-hover: hover) {
	.top-models__list-item:hover {
		.top-models__item-info-title {
			color: var(--accent-color);
		}
		.top-models__item-info-arrow-icon {
			stroke: var(--accent-color);
		}
	}
}
.top-models__list-item:active {
	.top-models__item-info-title {
		color: var(--accent-color);
	}
	.top-models__item-info-arrow-icon {
		stroke: var(--accent-color);
	}
}
@media (width>576px) {
	.top-models__list-item {
		padding: 30px;
		gap: 11px;
	}
}

@media (width<=576px) {
	.top-models__list-item {
		padding: 20px;
		gap: 10px;
	}
}
.top-models__item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 139px;
}
.top-models__item-info-title {
	width: 139px;
	transition: color var(--transition-time);
}
.top-models__item-info-arrow-icon {
	stroke: var(--main-color);
	transition: stroke var(--transition-time);
}
.top-models__img {
	display: flex;
	align-items: flex-end;
	min-width: 156px;
}
