.header {
	position: relative;
	z-index: var(--layer-2);
}

@media (width>576px) {
	.header {
		padding-top: 47px;
	}
}

@media (width<=576px) {
	.header {
		padding-top: 30px;
	}
}

.header__container {
	position: relative;
	width: var(--header-footer-witch);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: clamp(12px, 3vw, 48px);
	border-bottom: 1px solid var(--secondary-color-hover);
}

@media (width>576px) {
	.header__logo {
		margin-bottom: 51.5px;
	}
}

@media (width<=576px) {
	.header__logo {
		margin-bottom: 30px;
	}

	.header__logo-img {
		width: 140px;
		height: auto;
	}
}

.header__menu {
	margin-bottom: 52px;
}

.header__menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	gap: clamp(12px, 2.5vw, 50px);
}

.header__menu-item {
	position: relative;
}

.header__menu-item::after {
	content: "";
	z-index: var(--layer-negative);
	position: absolute;
	left: -15.5px;
	top: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--accent-color);
	-webkit-transform: translateY(-50%) scale(0);
	-ms-transform: translateY(-50%) scale(0);
	transform: translateY(-50%) scale(0);
	-webkit-transition: -webkit-transform var(--transition-time-fast) ease;
	transition: -webkit-transform var(--transition-time-fast) ease;
	-o-transition: transform var(--transition-time-fast) ease;
	transition: transform var(--transition-time-fast) ease;
	transition:
		transform var(--transition-time-fast) ease,
		-webkit-transform var(--transition-time-fast) ease;
	pointer-events: none;
}

@media (any-hover: hover) {
	.header__menu-item:hover::after {
		-webkit-transform: translateY(-50%) scale(1);
		-ms-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
}

.header__menu-item:focus-within::after {
	-webkit-transform: translateY(-50%) scale(1);
	-ms-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
}

.header__menu-item-link {
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 22px;
	color: #fff;
}

@media (width<=1100px) {
	.header__menu {
		position: fixed;
		top: 0;
		right: -100vw;
		bottom: 0;
		height: 100dvh;
		height: 100vh;
		z-index: var(--layer-2);
		padding-top: 144px;
		padding-right: 15px;
		padding-bottom: 24px;
		min-width: 297px;
		background-color: var(--bg-color);
		-webkit-box-shadow: -2px 0 20px 0 var(--shadow-color);
		box-shadow: -2px 0 20px 0 var(--shadow-color);
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		-webkit-transition:
			right var(--transition-time-fast),
			opacity var(--transition-time-fast),
			visibility var(--transition-time-fast);
		-o-transition:
			right var(--transition-time-fast),
			opacity var(--transition-time-fast),
			visibility var(--transition-time-fast);
		transition:
			right var(--transition-time-fast),
			opacity var(--transition-time-fast),
			visibility var(--transition-time-fast);
	}
	.header__menu--open {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	.header__menu .header__menu-list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		text-align: end;
	}
}

.header__actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 36px;
}

@media (width>576px) {
	.header__actions {
		margin-bottom: 46px;
	}
}

@media (width<=576px) {
	.header__actions {
		margin-bottom: 36px;
	}
}

.header__actions-cart {
	position: relative;
	color: #fff;
	-webkit-transition:
		color var(--transition-time-slow) ease,
		-webkit-transform var(--transition-time-slow) ease;
	transition:
		color var(--transition-time-slow) ease,
		-webkit-transform var(--transition-time-slow) ease;
	-o-transition:
		color var(--transition-time-slow) ease,
		transform var(--transition-time-slow) ease;
	transition:
		color var(--transition-time-slow) ease,
		transform var(--transition-time-slow) ease;
	transition:
		color var(--transition-time-slow) ease,
		transform var(--transition-time-slow) ease,
		-webkit-transform var(--transition-time-slow) ease;
}

.header__cart-circle {
	position: absolute;
	top: 0;
	right: -4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: var(--accent-color);
	-webkit-transition: -webkit-transform var(--transition-time-slow) ease;
	transition: -webkit-transform var(--transition-time-slow) ease;
	-o-transition: transform var(--transition-time-slow) ease;
	transition: transform var(--transition-time-slow) ease;
	transition:
		transform var(--transition-time-slow) ease,
		-webkit-transform var(--transition-time-slow) ease;
}

@media (any-hover: hover) {
	.header__actions-cart:hover {
		color: var(--accent-color);
		-webkit-transform: scale(var(--transform-scale));
		-ms-transform: scale(var(--transform-scale));
		transform: scale(var(--transform-scale));
		.header__cart-circle {
			-webkit-transform: scale(var(--transform-scale));
			-ms-transform: scale(var(--transform-scale));
			transform: scale(var(--transform-scale));
		}
	}
}

.header__actions-cart:focus-visible {
	color: var(--accent-color);
	-webkit-transform: scale(var(--transform-scale));
	-ms-transform: scale(var(--transform-scale));
	transform: scale(var(--transform-scale));
	.header__cart-circle {
		-webkit-transform: scale(var(--transform-scale));
		-ms-transform: scale(var(--transform-scale));
		transform: scale(var(--transform-scale));
	}
}

.header__actions-cart:active {
	color: var(--accent-color);
	-webkit-transform: scale(var(--transform-scale));
	-ms-transform: scale(var(--transform-scale));
	transform: scale(var(--transform-scale));
	.header__cart-circle {
		-webkit-transform: scale(var(--transform-scale));
		-ms-transform: scale(var(--transform-scale));
		transform: scale(var(--transform-scale));
	}
}

.header__cart-circle-text {
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 11px;
	color: #fff;
}
.header__actions-search {
	color: #fff;
	-webkit-transition:
		color var(--transition-time-slow) ease,
		-webkit-transform var(--transition-time-slow) ease;
	transition:
		color var(--transition-time-slow) ease,
		-webkit-transform var(--transition-time-slow) ease;
	-o-transition:
		color var(--transition-time-slow) ease,
		transform var(--transition-time-slow) ease;
	transition:
		color var(--transition-time-slow) ease,
		transform var(--transition-time-slow) ease;
	transition:
		color var(--transition-time-slow) ease,
		transform var(--transition-time-slow) ease,
		-webkit-transform var(--transition-time-slow) ease;
}
@media (any-hover: hover) {
	.header__actions-search:hover {
		color: var(--accent-color);
		-webkit-transform: scale(var(--transform-scale));
		-ms-transform: scale(var(--transform-scale));
		transform: scale(var(--transform-scale));
	}
}

.header__actions-search:focus-visible {
	color: var(--accent-color);
	-webkit-transform: scale(var(--transform-scale));
	-ms-transform: scale(var(--transform-scale));
	transform: scale(var(--transform-scale));
}

.header__actions-search:active {
	color: var(--accent-color);
	-webkit-transform: scale(var(--transform-scale));
	-ms-transform: scale(var(--transform-scale));
	transform: scale(var(--transform-scale));
}
