* {
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.title-h2 {
	margin: 0 0 20px;
}
.article-1 {
	padding: 20px;
	max-width: 300px;
	max-height: 200px;
}
.link-1 {
	text-decoration-line: none;
	margin-bottom: 10px;
	display: block;
}
.title-h3 {
	margin: 10px 0;
}
.text-1 {
	margin: 10px 0;
}
